<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <div style="margin-top: 10px">
        <a href="{% url 'home' %}">home</a><br/>
        <a href="{% url 'videos' %}">videos</a>
    </div>
    <h1>Upload Video</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <fieldset>
            <div>
                <label for="id_video">Video: </label>
                <input type="file" name="video" required=True id="id_video">
            </div>
            <div style="margin-top: 15px">
                <input type="submit" value="upload"/>
            </div>
        </fieldset>
    </form>
</body>
</html>